@using Microsoft.AspNetCore.Authentication;
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<dl>
    @foreach (var claim in User.Claims)
    { 
        <dt>@claim.Type</dt>
        <dt>@claim.Value</dt>
    }
    <dt>Access Token</dt>
    <dd>@await ViewContext.HttpContext.GetTokenAsync("access_token")</dd>
    <dt>Refresh Token</dt>
    <dd>@await ViewContext.HttpContext.GetTokenAsync("refresh_token")</dd>
    <dt>Id Token</dt>
    <dd>@await ViewContext.HttpContext.GetTokenAsync("id_token")</dd>
</dl>